[submodule "external/stb"]
	path = external/stb
	url = git@github.com:nothings/stb
[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm
[submodule "external/fmt"]
	path = external/fmt
	url = git@github.com:fmtlib/fmt
[submodule "cmake/sdl2"]
	path = cmake/sdl2
	url = git@github.com:aminosbh/sdl2-cmake-modules
